<div class="dashboard">
  <h1>Clientes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Razão Social</th>
        <th>Natureza</th>
        <th>CNPJ</th>
        <th>CPF</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes" (click)="verDetalhesCliente(cliente.id)">
        <td>{{ cliente.razaoSocial }}</td>
        <td>{{ cliente.natureza }}</td>
        <td>{{ cliente.cnpj }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.telefone }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn-create" (click)="criarCliente()">Criar Cliente</button>

</div>
