<div class="dashboard">
  <h1>Clientes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Razão Social</th>
        <th>Natureza</th>
        <th>CNPJ</th>
        <th>CPF</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes" (click)="verDetalhesCliente(cliente.id)">
        <td>{{ cliente.razao_social }}</td>
        <td>{{ cliente.natureza }}</td>
        <td>{{ cliente.pj_cnpj }}</td>
        <td>{{ cliente.pf_cpf }}</td>
        <td>{{ cliente.telefone }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn-create" (click)="criarCliente()"><i class="fas fa-plus"></i>Adicionar Cliente</button>

</div>
